<div class="header clearfix">
    <nav>
        <ul>
            <li ><a href="/">дом</a></li>
            <li ><a href="/">Репозиторий</a></li>
            
            <li ><a href="/tasklist">Tasks</a></li>
        </ul>
     
    </nav>
</div> 	