<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Document</title>
</head>
<body>
	<h1><%= deyo%></h1>
	<ul>
		<li>Comprar nuevos [Charger]</li>
		<li>Get a haircut</li>
		<li>Get a oculist EyeCheck</li>
	</ul>

 <form class="" action="/" method="post">
 	<input type="text" name="newItem">

 	<button type="submit" name="button">Nueva Tarea</button>
 </form>
	
</body>
</html>